<!DOCTYPE html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../style.css">
	</head>
	<body>
		<div class="header">
			<div class="cv-title">CV</div>
			<div class="credits">design by <a href="https://github.com/sluubb">sluubb</a> using HTML and CSS</div>
		</div>
		<div class="content">
			<div class="title">Name Namesson</div>

			<div class="links">
				<a>name@mail.com</a>
				<a>+000111111111</a>
				<a href="#">GitHub</a>
			</div>

			<hr class="divider">

			<p>I do this and this and this.</p>

			<div class="section-title">Skills</div>
			<ul>
				<li>Example skill</li>
				<li>Example skill</li>
			</ul>

			<div class="section-title">Experience</div>
			<ul>
				<li>(2010 - 2020) This place</li>
				<li>(2020 - now) That place</li>
			</ul>

			<div class="section-title">Education</div>
			<ul>
				<li>(2004 - 2006) Something impressive</li>
				<li>(2006 - 2010) Something equally impressive</li>
			</ul>
		</div>
	</body>
</html>
